.heading{
    text-align:center;
    color: red;
}
.heading1{
    text-align:center;
    color: red;
}
.heading2{
    text-align:center;
    color: red;
}
.heading3{
    text-align:center;
    color: red;
}
.heading4{
    text-align:center;
    color: red;
}
.heading5{
    text-align:center;
    color: red;
}